#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #93b4ad;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.color-success {
  color: green;
}

.color-danger {
  color: red;
}

.read-the-docs {
  color: #888;
}
